/* Made by exosZoldyck */

#contents-table-container{
    width: 375px;
    min-height: 500px;
    max-height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    top: 10px;
    left: 10px;

    z-index: 999;
    position: fixed;
    overflow: auto;
}

#contents-table{
    width: calc(100% - 11px * 2);
    height: 100%;
    margin: 0;
    margin-bottom: 20px;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    overflow-x: auto;

    background-color: #2f2f2f;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;

    a{
        color: white;
    }

    a:hover{
        color: skyblue;
    }
}

.entry-container{
    display: flex;
    align-items: start;
}

.header-arrow{
    margin-left: 0px;
    margin-right: 4px;
}